@import "config";

html,
body {
  background: $bg-color;
  font-family: $font-stack;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  color: $black-color;
  scrollbar-width: thin;
  scrollbar-color: $darkblue-color $div-color;
}
.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 4rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $darkblue-color;
  border-radius: 3px;
  color: $darkblue-color;
  padding: 10px 20px;
  font-size: 22px;
  color: $darkblue-color;
  &:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 10px lighten($blue-color, 10%);
  }
  &:active {
    transform: scale(0.98);
  }
}
.link {
  text-decoration: none;
  color: $darkblue-color;
}
.title {
  text-align: center;
  font-size: 70px;
  background: linear-gradient(180deg, #004c94 45%, #297bc4 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// MEDIA QUERIES //
@media screen and (max-width: 800px) {
  html,
  body {
    font-family: $font-stack;
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    background-color: $bg-color;
    margin: 0;
    padding: 0;
  }
  .container {
    margin: 0 auto;
    max-width: 65rem;
    padding: 0 10px;
  }
}
