@import "../../styles/config";

.more {
  background-color: lighten($blue-color, 65%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding: 150px 0 150px 0;
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      position: relative;
      text-align: center;
      border-radius: 5px;
      margin: 0 30px;
      padding: 200px 200px;
      border: 3px solid $blue-color;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.5s ease;
      }
      h4 {
        font-size: 35px;
        font-weight: 300;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        color: $primary-color;
        z-index: 1;
        backdrop-filter: blur(25px);
        transition: all 0.5s ease;
        width: 100%;
      }
      &:hover {
        background-color: $blue-color;
        img {
          filter: blur(30px);
        }
        h4 {
          font-weight: 500;
          font-size: 50px;
          backdrop-filter: blur(1px);
        }
      }
    }
  }
}

// MEDIA QUERIES //
@media screen and (max-width: 800px) {
}
