@import "../../styles/config";

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-bottom: 100px;
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    .button1,
    .button2 {
      position: relative;
      text-align: center;
      border-radius: 5px;
      margin: 0 30px;
      padding: 200px 303px;
      border: 2px solid $primary-color;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.5s ease;
      }
      h4 {
        font-size: 35px;
        font-weight: 300;
        text-align: center;
        position: absolute;
        top: 94%;
        margin: 0;
        padding-bottom: 5px;
        transform: translate(-50%, -50%);
        color: $primary-color;
        z-index: 1;
        backdrop-filter: blur(25px);
        transition: all 0.5s ease;
        width: 100%;
      }
      p {
        display: none;
      }
      &:hover {
        transition: 0.2s ease-in-out;
        box-shadow: 0 0 15px lighten($primary-color, 10%);
        img {
          filter: brightness(0.5);
        }
        h4 {
          top: 50%;
          font-weight: 500;
          font-size: 60px;
          backdrop-filter: blur(1px);
        }
        p {
          top: 88%;
          display: block;
          font-size: 23px;
          color: $primary-color;
          width: 100%;
          transform: translate(-50%, -50%);
          position: absolute;
        }
      }
    }
  }
}
.button1,
.button2 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 2s ease;
}
.button1.visible,
.button2.visible {
  opacity: 1;
  transform: translateY(0);
}

// MEDIA QUERIES //
@media screen and (max-width: 800px) {
  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 600px 0 200px 0;
    .buttons {
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      align-items: center;
      .button1,
      .button2 {
        position: relative;
        text-align: center;
        border-radius: 5px;
        margin: 0;
        padding: 150px 230px;
        border: 2px solid $primary-color;
        overflow: hidden;
        box-shadow: 0 0 15px lighten($primary-color, 10%);
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: filter 0.5s ease;
          filter: brightness(0.7);
        }
        h4 {
          top: 50%;
          font-weight: 500;
          font-size: 60px;
          backdrop-filter: blur(1px);
        }
        p {
          display: none;
        }
        &:hover {
          transition: 0.2s ease-in-out;
          box-shadow: 0 0 15px lighten($primary-color, 10%);
          img {
            filter: brightness(0.7);
          }
          h4 {
            top: 50%;
            font-weight: 500;
            font-size: 60px;
            backdrop-filter: blur(1px);
          }
          p {
            display: none;
          }
        }
      }
    }
  }
  .button1,
  .button2 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 2s ease;
  }
  .button1.visible,
  .button2.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
