@import "../../styles/config";

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 120px 0;
  text-align: center;
  h2 {
    font-size: 50px;
  }
  p {
    font-size: 25px;
    margin-bottom: 30px;
  }
}

// MEDIA QUERIES //
@media screen and (max-width: 800px) {
}
