@import "../../styles/config";

.about {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  padding-bottom: 0;
  height: 55vh;
  text-align: center;
  background-color: darken($blue-color, 10%);
  color: $primary-color;
  .split {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    .left {
      img {
        width: 500px;
        border-radius: 5px;
        box-shadow: 0 0 15px lighten($primary-color, 0.9%);
        animation: shadowGlow 3s infinite linear;
      }
    }
    .right {
      h2 {
        margin: 0;
        font-size: 60px;
        text-align: center;
        font-weight: 300;
      }
      p {
        font-size: 22px;
        text-align: justify;
      }
    }
  }
}
@keyframes shadowGlow {
  0% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
    transform: translate(0, 0);
  }
  25% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
    transform: translate(0, 0);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    transform: translate(0, 0);
  }
  75% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
    transform: translate(0, 0);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
    transform: translate(0, 0);
  }
}

// MEDIA QUERIES //
@media screen and (max-width: 800px) {
}
