@import "../../styles/config";

.about {
  display: flex;
  justify-content: center;
  padding: 0;
  padding: 200px 0 0 0;
  height: 100vh;
  text-align: center;
  background-color: darken($blue-color, 10%);
  color: $primary-color;
  .split {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    .left {
      img {
        width: 500px;
        border-radius: 5px;
        box-shadow: 0 0 15px lighten($primary-color, 0.9%);
      }
    }
    .right {
      h2 {
        font-size: 60px;
        text-align: center;
        font-weight: 300;
        margin-bottom: 20px;
      }
      p {
        font-size: 22px;
        margin-bottom: 30px;
        text-align: justify;
      }
      .social-medias {
        font-size: 35px;
        span {
          margin-right: 20px;
          &:hover {
            color: lighten($blue-color, 40%);
          }
        }
      }
    }
  }
}

// MEDIA QUERIES //
@media screen and (max-width: 800px) {
}
