@import "../../styles/config";

.header {
  display: flex;
  justify-content: center;
  padding: 220px 0 0 0;
  height: 600px;
  text-align: center;
  color: $primary-color;
  .split {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    .left {
      img {
        width: 500px;
        border: 2px solid $primary-color;
        border-radius: 5px;
        box-shadow: 0 0 15px lighten($primary-color, 0.9%);
        animation: shadowGlow 2s infinite linear;
      }
    }
    .right {
      h2 {
        margin: 0;
        font-size: 90px;
        text-align: center;
        font-weight: 600;
        background: linear-gradient(180deg, #319bff 3%, #ffffff 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p {
        margin: 3px 0 0 0;
        padding: 0 0 40px 0;
        font-size: 23px;
        text-align: justify;
        font-weight: 200;
      }
      b {
        font-weight: 300;
      }
    }
  }
}
@keyframes shadowGlow {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    transform: translate(0, 0);
  }
  25% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
    transform: translate(0, 0);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    transform: translate(0, 0);
  }
  75% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
    transform: translate(0, 0);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    transform: translate(0, 0);
  }
}

// MEDIA QUERIES //
@media (max-width: 1000px) {
  .header {
    display: flex;
    justify-content: center;
    padding: 220px 0 0 0;
    height: 600px;
    text-align: center;
    color: $primary-color;
    .split {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 100px;
      .left {
        img {
          width: 100%;
          border: 2px solid $primary-color;
          border-radius: 5px;
          box-shadow: 0 0 15px lighten($primary-color, 0.9%);
          animation: shadowGlow 2s infinite linear;
        }
      }
      .right {
        h2 {
          margin: 0;
          font-size: 70px;
          text-align: center;
          font-weight: 600;
          background: linear-gradient(180deg, #319bff 3%, #ffffff 70%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        p {
          margin: 3px 0 0 0;
          padding: 0 0 40px 0;
          font-size: 23px;
          text-align: justify;
          font-weight: 200;
        }
        b {
          font-weight: 300;
        }
      }
    }
  }
}
@media (min-width: 800.02px) and (max-width: 1200px) {
  .header {
    display: flex;
    justify-content: center;
    padding: 220px 0 0 0;
    height: 600px;
    text-align: center;
    color: $primary-color;
    .split {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 100px;
      .left {
        img {
          width: 70%;
          border: 2px solid $primary-color;
          border-radius: 5px;
          box-shadow: 0 0 15px lighten($primary-color, 0.9%);
          animation: shadowGlow 2s infinite linear;
        }
      }
      .right {
        h2 {
          margin: 0;
          font-size: 90px;
          text-align: center;
          font-weight: 600;
          background: linear-gradient(180deg, #319bff 3%, #ffffff 70%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        p {
          margin: 3px 0 0 0;
          padding: 0 0 40px 0;
          font-size: 23px;
          text-align: justify;
          font-weight: 200;
        }
        b {
          font-weight: 300;
        }
      }
    }
  }
}
@media (min-width: 1200.02px) and (max-width: 1270px) {
  .header {
    display: flex;
    justify-content: center;
    padding: 220px 0 0 0;
    height: 600px;
    text-align: center;
    color: $primary-color;
    .split {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      .left {
        img {
          width: 450px;
          border: 2px solid $primary-color;
          border-radius: 5px;
          box-shadow: 0 0 15px lighten($primary-color, 0.9%);
          animation: shadowGlow 2s infinite linear;
        }
      }
      .right {
        h2 {
          margin: 0;
          font-size: 80px;
          text-align: center;
          font-weight: 600;
          background: linear-gradient(180deg, #319bff 3%, #ffffff 70%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        p {
          margin: 3px 0 0 0;
          padding: 0 0 40px 0;
          font-size: 20px;
          text-align: justify;
          font-weight: 200;
        }
        b {
          font-weight: 300;
        }
      }
    }
  }
}
@media (min-width: 1270.02px) and (max-width: 1410px) {
  .header {
    display: flex;
    justify-content: center;
    padding: 220px 0 0 0;
    height: 600px;
    text-align: center;
    color: $primary-color;
    .split {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      .left {
        img {
          width: 450px;
          border: 2px solid $primary-color;
          border-radius: 5px;
          box-shadow: 0 0 15px lighten($primary-color, 0.9%);
          animation: shadowGlow 2s infinite linear;
        }
      }
      .right {
        h2 {
          margin: 0;
          font-size: 90px;
          text-align: center;
          font-weight: 600;
          background: linear-gradient(180deg, #319bff 3%, #ffffff 70%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        p {
          margin: 3px 0 0 0;
          padding: 0 0 40px 0;
          font-size: 20px;
          text-align: justify;
          font-weight: 200;
        }
        b {
          font-weight: 300;
        }
      }
    }
  }
}
