@import "../../styles/config";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 120px 0;
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      display: grid;
      text-align: center;
      border-radius: 5px;
      margin: 0 20px;
      padding: 40px 80px;
      border: 2px solid $blue-color;
      h4 {
        font-size: 25px;
      }
      p {
        font-size: 20px;
      }
    }
    img {
      width: 100px;
    }
  }
}

// MEDIA QUERIES //
@media screen and (max-width: 800px) {
}
