@import "../../styles/config";

.header {
  background-color: $bg-color-2;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 430px 0 25px 0;
  h2 {
    font-size: 30px;
    color: $blue-color;
    margin-top: 5px;
    font-weight: 300;
  }
  .social-medias {
    display: flex;
    gap: 50px;
    font-size: 35px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $blue-color;
      border-radius: 3px;
      color: $blue-color;
      padding: 10px 10px;
      font-size: 22px;
      .email {
        margin-right: 10px;
        font-size: 25px;
      }
      .linkedin {
        margin-right: 10px;
      }
      &:hover {
        cursor: pointer;
        transition: 0.2s ease-in-out;
        box-shadow: 0 1px 7px 2px lighten($blue-color, 10%);
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }
}
