@import "config";
@import "../../styles/config";

nav {
  background-color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 100;
  border: solid 0 $green-color;
  box-shadow: 1px 7px 5px -5px lighten($green-color, 0.9%);
  border-bottom: 2px solid $green-color;
  .logo-container img {
    width: 250px;
    height: auto;
    margin-right: 20px;
  }
}

// MEDIA QUERIES //
@media screen and (max-width: 800px) {
  nav {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
    border: solid 0 $green-color;
    box-shadow: 1px 7px 5px -5px lighten($green-color, 0.9%);
    border-bottom: 2px solid $green-color;
    margin: 0 auto;
    .logo-container img {
      width: 180px;
      height: auto;
      margin-right: 20px;
    }
  }
}
@media screen and (min-width: 800.02px) and (max-width: 1190px) {
  nav {
    background-color: $primary-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
    border: solid 0 $green-color;
    box-shadow: 1px 7px 5px -5px lighten($green-color, 0.9%);
    border-bottom: 2px solid $green-color;
    margin: 0 auto;
    .logo-container img {
      width: 250px;
      height: auto;
      margin-right: 20px;
    }
  }
}
