@import "../../styles/config";

nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: background-color 0.3s ease;
  h2 {
    font-size: 50px;
    font-weight: 600;
  }
  li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    padding: 10px 20px;
  }
  a {
    color: $primary-color;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    font-weight: 400;
    &:hover {
      transition: 0.2s ease-in-out;
      font-weight: 600;
      color: $primary-color;
      cursor: pointer;
    }
  }
  .menu-btn {
    display: none;
  }
}
.navbar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38vh;
  background-image: url("/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 15px $blue-color;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  h1 {
    color: $primary-color;
    text-align: center;
    font-size: 100px;
    font-weight: 200;
    margin: 150px 0 0 0;
  }
  p {
    color: $primary-color;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin: 0;
  }
}
.scrolled {
  background-color: $primary-color;
  border-bottom: 2px solid darken($blue-color, 10%);
  box-shadow: 0 0 10px $darkblue-color;
  h2 {
    font-size: 50px;
    margin: 0;
    font-weight: 600;
    background: linear-gradient(180deg, #004c94 45%, #297bc4 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    padding: 10px 20px;
  }
  a {
    color: $darkblue-color;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    &:hover {
      transition: 0.1s ease-in-out;
      font-weight: 600;
      color: $blue-color;
      cursor: pointer;
    }
  }
}

// MEDIA QUERIES //
@media screen and (max-width: 880px) {
}
