@import "../../styles/config";

.projects {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 450px 0 250px;
  margin: 0;
  background-color: $primary-color;
  color: $black-color;
  text-align: center;
  text-align: left;
  h2 {
    text-align: center;
    font-size: 70px;
    background: linear-gradient(180deg, #004c94 45%, #297bc4 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    text-align: center;
    font-size: 35px;
    margin: 10px 0 10px 0;
  }
  h4 {
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    margin: 10px 0 50px 0;
  }
  p {
    font-size: 24px;
  }
  .first-row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 60px 0 50px 0;
    .project1 {
      border-radius: 5px;
      background-color: $div-color;
      padding: 20px;
      padding: 20px;
    }
    .project2 {
      border-radius: 5px;
      background-color: $div-color;
      padding: 20px;
      padding: 20px;
    }
  }
  .second-row {
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    .project3 {
      border-radius: 5px;
      background-color: $div-color;
      padding: 20px;
      padding: 20px;
    }
    .project4 {
      border-radius: 5px;
      background-color: $div-color;
      padding: 20px;
      padding: 20px;
    }
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $blue-color;
  margin-top: 20px;
  padding: 10px;
  margin: 20px;
  color: $blue-color;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 10px lighten($blue-color, 10%);
  }
  &:active {
    transform: scale(0.98);
  }
}
.project3 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 2s ease;
}
.project4 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 4s ease, transform 4s ease;
}
.project3.visible,
.project4.visible {
  opacity: 1;
  transform: translateY(0);
}
