@import "../../styles/config";

.projects {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 450px 0 250px 0;
  margin: 0;
  background-color: $primary-color;
  color: $black-color;
  text-align: center;
  text-align: left;
}
.projects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  box-shadow: 0 0 10px $darkblue-color;
  border: 2px solid $darkblue-color;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $div-color;
  padding: 20px;
  width: 1000px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 2s ease;
  will-change: opacity, transform;
  h3 {
    color: $darkblue-color;
    text-align: center;
    font-size: 40px;
    margin: 10px 0 10px 0;
  }
  h4 {
    color: $darkblue-color;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    margin: 10px 0 50px 0;
  }
  p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px $darkblue-color;
    margin-bottom: 25px;
  }
  .project-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $darkblue-color;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: $darkblue-color;
    padding: 10px 390px;
    font-size: 22px;
    color: $darkblue-color;
    &:hover {
      cursor: pointer;
      transition: 0.2s ease-in-out;
      box-shadow: 0 0 10px lighten($blue-color, 10%);
    }
    &:active {
      transform: scale(0.98);
    }
  }
  .project-notes {
    margin-bottom: 0;
    font-size: 20px;
  }
}
.always-visible {
  opacity: 1 !important;
  transform: none !important;
  transition: none !important;
}
.project-card.visible {
  opacity: 1;
  transform: translateY(0);
}

// MEDIA QUERIES //
@media (max-width: 800px) {
  .projects {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0 150px 0;
    margin: 0;
    background-color: $primary-color;
    color: $black-color;
    text-align: center;
    text-align: left;
    width: 100%;
  }
  .projects-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    box-shadow: 0 0 10px $darkblue-color;
    border: 2px solid $darkblue-color;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: $div-color;
    padding: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 2s ease;
    will-change: opacity, transform;
    width: 100%;
    h3 {
      color: $darkblue-color;
      text-align: center;
      font-size: 30px;
      margin: 10px 0 10px 0;
    }
    h4 {
      color: $darkblue-color;
      text-align: center;
      font-size: 23px;
      font-weight: 400;
      margin: 10px 0 50px 0;
    }
    p {
      font-size: 24px;
      margin-bottom: 40px;
    }
    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0 0 10px $darkblue-color;
      margin-bottom: 25px;
    }
    .project-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid $darkblue-color;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      color: $darkblue-color;
      padding: 10px 80px;
      font-size: 23px;
      color: $darkblue-color;
      &:hover {
        cursor: pointer;
        transition: 0.2s ease-in-out;
        box-shadow: 0 0 10px lighten($blue-color, 10%);
      }
      &:active {
        transform: scale(0.98);
      }
    }
    .project-notes {
      margin-bottom: 0;
      font-size: 20px;
    }
  }
  .always-visible {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
  .project-card.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
