@import "../../styles/config";

.projects {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 500px 0;
  margin: 0;
  background-color: $bg-color;
  color: $black-color;
  text-align: center;
  text-align: left;
  h2 {
    text-align: center;
    font-size: 50px;
  }
  h3 {
    text-align: center;
    font-size: 35px;
    margin: 10px 0 10px 0;
  }
  h4 {
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    margin: 10px 0 50px 0;
  }
  p {
    font-size: 24px;
  }
  .first-row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 60px 0 20px 0;
    .project1 {
      background: linear-gradient(
        135deg,
        #007bff,
        #00bfff,
        #00ffff,
        #00bfff,
        #007bff
      );
      padding: 20px;
    }
    .project2 {
      background-color: pink;
      padding: 20px;
    }
  }
  .second-row {
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    .project3 {
      background-color: lightcoral;
      padding: 20px;
    }
    .project4 {
      background-color: palegoldenrod;
      padding: 20px;
    }
  }
}
.btn {
  display: inline-block;
  border: 2px solid $blue-color;
  margin-top: 20px;
  padding: 10px;
  margin: 20px;
  color: $blue-color;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  &:hover {
    transition: 0.2s ease-in-out;
    background-color: $blue-color;
    color: $primary-color;
    cursor: pointer;
  }
  &:active {
    transform: scale(0.98);
  }
}
.project3,
.project4 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 2s ease;
}
.project3.visible,
.project4.visible {
  opacity: 1;
  transform: translateY(0);
}
