@import "../../styles/config";

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 500px 0 1000px 0;
  margin: 0;
  background-color: $bg-color-2;
  color: $black-color;
  text-align: center;
  h2 {
    font-size: 50px;
  }
  p {
    font-size: 25px;
  }
  .split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    .left {
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0;
        font-size: 40px;
        text-align: center;
        font-weight: 300;
      }
      h4 {
        margin: 0;
        font-size: 30px;
        text-align: left;
        font-weight: 300;
      }
      p {
        font-size: 22px;
        text-align: left;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0;
        font-size: 40px;
        text-align: center;
        font-weight: 300;
      }
      h4 {
        margin: 0;
        font-size: 30px;
        text-align: left;
        font-weight: 300;
      }
      p {
        font-size: 22px;
        text-align: left;
      }
    }
    .btn {
      border: 2px solid $blue-color;
      margin-top: 20px;
    }
  }
}
