@import "../../styles/config";

.projects {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 500px 0;
  margin: 0;
  background-color: $bg-color;
  color: $black-color;
  text-align: center;
  h2 {
    font-size: 50px;
  }
  p {
    font-size: 25px;
  }
  .first-row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    .div1 {
      background-color: lightblue;
    }
    .div2 {
      background-color: pink;
    }
  }
  .second-row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    .div3 {
      background-color: lightcoral;
    }
    .div4 {
      background-color: palegoldenrod;
    }
  }
  .div5 {
    background-color: lightgreen;
  }
  .btn {
    border: 2px solid $blue-color;
    margin-top: 20px;
  }
}
