@import "../../styles/config";

footer {
  padding: 70px 10px 70px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  background-color: darken($blue-color, 10%);
  color: $primary-color;
  text-align: center;
  p {
    font-size: 20px;
  }
}
span {
  color: $primary-color;
  &:hover {
    font-weight: bold;
  }
}

// MEDIA QUERIES //
@media screen and (max-width: 800px) {
  footer {
    padding: 50px 10px 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    background-color: darken($blue-color, 10%);
    color: $primary-color;
    text-align: center;
    p {
      font-size: 18px;
    }
  }
  span {
    color: $primary-color;
    &:hover {
      font-weight: bold;
    }
  }
}
