@import "../../styles/config";

.socials {
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 310px 0 50px 0;
  h2 {
    font-size: 30px;
    color: $blue-color;
  }
  .social-medias {
    display: flex;
    gap: 50px;
    font-size: 35px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid $blue-color;
      border-radius: 5px;
      color: $blue-color;
      padding: 10px 10px;
      font-size: 22px;
      .email {
        margin-right: 10px;
        font-size: 25px;
      }
      .linkedin {
        margin-right: 10px;
      }
      &:hover {
        cursor: pointer;
        background-color: $blue-color;
        color: $primary-color;
        transition: 0.2s ease-in-out;
        box-shadow: 0 1px 10px 2px lighten($blue-color, 30%);
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }
}
