@import "../../styles/config";

.education {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 500px 0;
  margin: 0;
  background-color: $bg-color;
  color: $black-color;
  text-align: center;
  text-align: left;
  h2 {
    text-align: center;
    font-size: 50px;
  }
  h3 {
    text-align: center;
    font-size: 35px;
    margin: 10px 0 10px 0;
  }
  h4 {
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    margin: 10px 0 50px 0;
  }
  p {
    font-size: 24px;
  }
  .first-row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 60px 0 20px 0;
    .edu-card1 {
      background-color: lightblue;
      padding: 20px;
    }
    .edu-card2 {
      background-color: pink;
      padding: 20px;
    }
  }
  .second-row {
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: gray;
    .second-row-container {
      display: flex;
      gap: 20px;
      .edu-card3 {
        background-color: lightcoral;
        padding: 20px;
      }
      .edu-card4 {
        background-color: palegoldenrod;
        padding: 20px;
      }
    }
  }
  .edu-card5 {
    background-color: lightgreen;
    text-align: left;
    padding: 10px;
  }
}
